{% extends "base.html" %}
{% block title %}EnviroShare Reports{% endblock %}


{% block content %}
<div class="jumbotron">
    <h1 class="display-3" align="center">Most Economical Riders</h1>
    <hr class="my-4">
    <h5 class="card-header">Minimum Rating Selected: {{minimum_rating}}</h5>
    <h5 class="card-header">Maximum Rating Selected: {{maximum_rating}}</h5>


    <>
</div>
{% for rider in riders%}
<li class="list-group-item">{{ rider.name }}</li>
{% endfor %}
{% endblock %}
