{% extends "base.html" %}
{% block title %}EnviroShare Settings{% endblock %}

{% block content %}
<form method="POST" id="settingsForm">
    <div class="jumbotron">
        <h2 class="display-3" align="center">Settings</h2>
        <hr class="my-4">
    </div>
    <div class="card mb-3">
        <h3 class="card-header">{{ role }} Profile <a class="btn btn-primary btn-sm" href="/profile"
                                                      role="button">Edit</a>
        </h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Full Name: {{ current_user.name }}</li>
            <li class="list-group-item">Email: {{ current_user.email }}</li>
            <li class="list-group-item">DOB: {{ current_user.DOB }}</li>
            <li class="list-group-item">Number of Trips: {{ current_user.number_of_trips }}</li>
        </ul>
    </div>
    <div class="card mb-3">
        {% if has_payment == True %}
        <h3 class="card-header">Payment Information
            <a class="btn btn-primary btn-sm" href="/payment"
               role="button">Edit</a>
            <button type="submit" class="btn btn-primary btn-sm"
                    name="delete"
                    value="payment_delete">Remove
            </button>
        </h3>
        {% if role == 'Rider' %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Card Type: {{ payment_info.card_type }}</li>
            <li class="list-group-item">Card Number: ****-****-****-{{ (payment_info.card_number|string())[-4:] }}</li>
            <li class="list-group-item">Expiration Date: {{ payment_info.expiration_date }}</li>
        </ul>
        {% else %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Account Number (Last 4 Digits): {{ (payment_info.account_number|string())[-4:]
                }}
            </li>
            <li class="list-group-item">Routing Number: *****{{ (payment_info.routing_number|string())[-4:] }}</li>
            <li class="list-group-item">Account Holder Name: {{ payment_info.account_holder_name }}</li>
            <li class="list-group-item">Institution Name: {{ payment_info.institution_name }}</li>
        </ul>
        {% endif %}
        {% else %}
        <h3 class="card-header">Payment Information</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a class="btn btn-primary btn-sm" href="/payment"
                                           role="button">Add Payment Information</a></li>
        </ul>
        {% endif %}
    </div>
    {% if role == 'Driver' %}
    <div class="card mb-3">
        {% if has_car == True %}
        <h3 class="card-header">Car Information
            <button type="submit" class="btn btn-primary btn-sm"
                    name="delete"
                    value="car_delete">Remove
            </button>
        </h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Make: {{ car_info.make }}</li>
            <li class="list-group-item">Model: {{ car_info.model }}</li>
            <li class="list-group-item">Year: {{ car_info.year }}</li>
            <li class="list-group-item">Color: {{ car_info.color }}</li>
            <li class="list-group-item">Octane: {{ car_type_info.fuel_octane }}</li>
            <li class="list-group-item">MPG: {{ car_type_info.MPG }}</li>
            <li class="list-group-item">Carbon Per Mile: {{ car_type_info.carbon_per_mile }} grams</li>
        </ul>
        {% else %}
        <h3 class="card-header">Car Information</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a class="btn btn-primary btn-sm" href="/car"
                                           role="button">Add Car</a></li>
        </ul>
        {% endif %}
    </div>
    {% endif %}
    <div class="card mb-3">
        <h3 class="card-header">Account Deletion</h3>
        <div align="center">
            <button type="submit" class="btn btn-primary btn-sm"
                    style="margin-top:1em;margin-bottom:1em;width:50%;"
                    name="delete"
                    value="profile_delete">Delete Account (Caution: Cannot Be Undone)
            </button>
        </div>
    </div>
</form>
{% endblock %}