{% extends "base.html" %}
{% block title %}EnviroShare Driver Dashboard{% endblock %}

{% block content %}
<form method="POST" id="driverInactiveForm">
    <div class="jumbotron">
        <h1 class="display-3" align="center">Be ready to drive, {{ current_user.name }}!</h1>
        <hr class="my-4">
    </div>
    <div class="card mb-3">
        <h3 class="card-header">Driver Dashboard</h3>
        <div class="card-body">
            <button type="submit" class="btn btn-primary btn-lg" name="active_button" value="stop">Stop Driving!
            </button>
        </div>
    </div>
</form>
{% endblock %}