{% extends "base.html" %}
{% block title %}EnviroShare Rider Dashboard{% endblock %}

{% block content %}
<form method="POST" id="bikeForm">
    <div class="jumbotron">
        <h1 class="display-3" align="center">Welcome, {{ current_user.name }}!</h1>
        <hr class="my-4">
    </div>
    <div class="card mb-3">
        <h3 class="card-header">Biker Dashboard</h3>
        <div class="card-body">
            <h5 class="card-title">It's Bikin' Time <a class="btn btn-primary btn-sm" href="/rider-dashboard"
                                           role="button">Cancel</a></h5>
        </div>
        <div class="form-group" style="margin: 1em">
            <label for="location_starting">Starting Location:</label>
            <select class="form-select" id="location_starting" name="location_starting">
                {% for location in location_dict.keys() %}
                {% if start != None and start.location == location %}
                <option value="{{location}}" selected="selected">{{location_dict[location]}}</option>
                {% else %}
                <option value="{{location}}">{{location_dict[location]}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="margin: 1em">
            <label for="location_ending">Ending Location:</label>
            <select class="form-select" id="location_ending" name="location_ending">
                {% for location in location_dict.keys() %}
                {% if end != None and end.location == location %}
                <option value="{{location}}" selected="selected">{{location_dict[location]}}</option>
                {% else %}
                <option value="{{location}}">{{location_dict[location]}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <button type="submit" style="margin: 1em" class="btn btn-primary btn-lg">Go!</button>
    </div>
<div>
    {% if bikes_list|length == 0 %}
            <h5 class="card-text" style="margin: 1em">No location selected or no bikes at started location.</h5>
            {% else %}
            <h5 class="card-text" style="margin: 1em">Bikes available from {{start.station_name}} to {{end.station_name}}:</h5>
            <p>Note: Price considers carbon-per-mile and distance. More efficient rides will be cheaper!</p>
            <table class="table table-hover" style="margin: 1em">
                <thead>
                <tr>
                    <th scope="col">Bike ID</th>
                    <th scope="col">Model</th>
                    <th scope="col">Carbon Per Mile</th>
                    <th scope="col">Price</th>
                    <th scope="col">Rent</th>
                </tr>
                </thead>
                <tbody>
                {% for bike in bikes_list %}
                <tr>
                    <th scope="row">{{bike.bike_id}}</th>
                    <td>{{bike.model}}</td>
                    <td>{{bike.carbon_per_mile}}</td>
                    {% set price = distance / 7 + (bike.carbon_per_mile * (distance / 10)) %}
                    <td>${{ '%0.2f'| format(price|float) }}</td>
                    <td>
                        <button type="submit" name="rent_button" value="{{ bike.bike_id }}"
                                class="btn btn-primary btn-sm">
                            Rent
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}