{% extends "base.html" %}
{% block title %}EnviroShare Rider Sign-Up{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Rider Sign Up</h3>
    <div class="form-group">
        <div class="form-floating mb-3">
            <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="name@example.com"
            />
            <label for="email">Email Address</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-floating mb-3">
            <input
                    type="text"
                    class="form-control"
                    id="full_name"
                    name="full_name"
                    placeholder="Enter Full Name"
            />
            <label for="full_name">Full Name</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-floating mb-3">
            <input
                    type="password"
                    class="form-control"
                    id="password1"
                    name="password1"
                    placeholder="Enter Password"
            />
            <label for="password1">Password</label>
        </div>
        <p class="text-secondary"> Password must be at least 8 characters.</p>
    </div>
    <div class="form-group">
        <div class="form-floating mb-3">
            <input
                    type="password"
                    class="form-control"
                    id="password2"
                    name="password2"
                    placeholder="Confirm password"
            />
            <label for="password2">Password (Confirm)</label>
        </div>
    </div>
    <h5>Eligibility</h5>
    <fieldset class="form-group">
        <fieldset>
            <label class="form-label" for="DOB">Date of Birth (Must be 16 years or older): </label>
            <input type="date" id="DOB" name="DOB">
        </fieldset>
    </fieldset>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}